# untuk gradle
*.iml
.gradle/
/build
**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# ini penting untuk di-ignore karena berisi path ke SDK yang bisa berbeda-beda di setiap komputer
local.properties
local.gradle.properties

.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/shelf/
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
*.ipr
*.iws

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

/captures
*.apk
*.aab
*.ap_
*.dex
*.class

.externalNativeBuild
.cxx

*.keystore
*.jks
keystore.properties
secrets.properties
google-services.json