<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sampahku">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampahKu">

        <!-- SplashActivity sebagai launcher (halaman pertama yang muncul) -->
        <!-- agar bersih pakai tema khusus no action bar -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.SampahKu.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity = halaman utama setelah splash screen-->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>
</manifest>